:root {
  --blue: hsl(226, 89%, 18%);
  --rhythm: 25px;
}
html {
  overflow-y: scroll;
  background-color: var(--blue);
}
main {
  padding: 2rem;
  /* max-width: 90%; */
  margin: 0 auto;
}
/* @media (min-width: 62em) {
  main {
    padding: 1rem;
  }
} */
/* carousel */

.carousel-cell {
  width: 100%;
  margin-right: 10px;
  /* background: var(--blue); */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: var(--blue);
}
.flickity-button-icon {
  fill: var(--blue);
}
.flickity-button:hover {
  opacity: 70%;
}

.flickity-page-dots .dot {
  background: hsla(0, 0%, 100%, 0.75);
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

@media screen and (max-width: 768px) {
  /* position outside */
  /* .flickity-prev-next-button.previous {
    left: -50px;
  }
  .flickity-prev-next-button.next {
    right: -50px;
  } */
  .flickity-button {
    display: none;
  }
}

.carousel img {
  display: block;
  height: 100%;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 85vh;
  }
}

.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
